html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1050px;
  margin: 0 auto 0 auto;
}
.notFound {
  width: 90%;
}
