.header {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 25px 0 25px;
    margin: 0 auto 0 auto;  
}
.header_logo {
    max-width: 240px;
}
.header p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin: 0px 0px 0px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.navpanel {
    display: flex;
    width: 100%;
    height: 24px;
    margin: 18px 0 23px 0;
}
.navpanel a {
    display: block;
    margin-right: 18px;
    font-family: HalvarBreitschriftCY,Verdana,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    transition: color .2s ease;
}
.navpanel svg {
    margin-left: auto;
    display: block;
    cursor: pointer;
    color: black;
}
.navpanel svg:hover {
    color:#5850FF;
}
.navpanel a:hover {
    color:#5850ff
}
.navpanel a:nth-child(6) {
    color:#e140ff;
}
.navpanel a:nth-child(6):hover {
    color:#a310be
}
.navpanel input {
    border: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width: 15%;
}
