.footer {
  padding: 30px 0 50px 0;
  background-color: black;
  color: white;
}

.footer_links {
  font-family: 'HalvarBreitCY';
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 1050px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_nav a:not(:last-child){
  margin-right: 10px;
}
.footer_text {
  max-width: 1050px;
  display: flex;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
}
.footer_text p {
  width: 100%;
  margin: 0 0 10px 0;
  opacity: 0.5;
}

@media (max-width: 600px) {

}