.container {
    display: flex;
    align-items: center;
    max-width:30%;
    width:100%;
    height: 20px;
    justify-content: space-between;
    margin-left: auto;
}
.container a {
    padding: 0 10px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}
.container a:nth-child(1):hover {
    color:#2757B8;
}
.container a:nth-child(2):hover {
    color:#35A6DE;
}
.container a:nth-child(3):hover {
    color:#1588D1;
}
.container a:nth-child(4):hover {
    color:#25A8FC;
}
.container a:nth-child(5):hover {
    color:#FC0D1B;
}
.container a:nth-child(6):hover {
    color:#DA3887;
}